.register {
  display: flex;
  height: 100vh;
}

.register-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  margin-top: 0;
  
}
.register-text{
  margin-bottom: -6px;
  font-size: 16px;
}

.plain-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.btn-register {
  background-color: #008001;
  color: #fff;
  border: none;
  margin-top: -2px;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s ease;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: calc(20px + (30px - 20px) * ((100vw - 400px) / (1200 - 400))); /* Adjust margin based on viewport width */
}

.plain-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: auto 0; 
}

.innerContainer{
  height:70vh;
}

.form-container {
  width: 100%;
  margin-bottom: 0px;
}

form {
  width: 100%;
 
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

label {
  font-size: 12px;
  margin-bottom: 5px;
}

.required {
  color: red;
}

.green-text {
  color: #008001;
}




button {
  background-color: #008001;
  color: #fff;
  cursor: pointer;width: auto;
}

button:hover {
  background-color: #055605;
}

input[type='checkbox'] {
  margin-right: 5px;
  color: #008001;
}

input[type='checkbox']:checked {
  background-color: #008001;
}

@media (max-width: 768px) {
  .register {
    flex-direction: column;
  }

  .colored-section {
    display: none;
  }
}