.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .content h2 {
    text-align: left;
    color: #0c0c0c;
    font-size: 53px;
    line-height: 1.2em;
  }
  
  .content p {
    text-align: left;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .try-free{
    font-size: 12px;
    line-height: 1.2;
    font-family: open sans;
    font-weight: 600;
    padding: 16px 18px;
    border: 1px hidden #f9c03d;
    background: #f9c03d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .req-quote{
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    font-family: open sans;
    font-weight: 600;
    padding: 14px 24px;
    border: 1px solid #a5a5a5;
    background: #fff;
    color: #141414;
    border-radius: 3px;
  }
  
  .image {
    flex: 1;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  