.site-header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  

  .navigation-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    z-index: inherit;
    background: #fff!important;
  }

  
  .Header-navigations {
    background: #fff!important;
    margin-bottom: 0;
    border: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;

    box-sizing: border-box;

  }
  
  
  
  .companyLogo {
    width: 180px; 
    height: auto; 
  
    padding: 0;
  }
  
  .site-logo img {
    display: block; 
    width: calc(100% - 10px);
    height: auto;
    padding: 8px; 
    
    max-width: 100%; 
    max-height: 100%; 
  }
  .navigation-links {
  
    margin-bottom: 0;
    list-style: none;
    transform: none;
  
  }
  /* Dropdown Button */
  .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px; /* Keep the width */
    z-index: 1;
    border: 1px solid #ccc; /* Added border */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; /* Reduced font size */
    font-weight: 300;
    color: #666;
  }
  
  /* Links inside the dropdown */
  .site-header .navbar ul li .dropdown-content a{
    display: block;
    color: #666;
    font-size: 12px; /* Reduced font size */
    font-family: 'Open Sans', sans-serif;
    padding: 8px 6px; /* Adjusted padding to decrease height */
    text-decoration: none;
    box-sizing: border-box;
  
    border-bottom: 1px solid #e6e6e6;
  
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: #184cb5;
    border: none;
    
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  .site-header .navbar ul {
    margin-left: 0;
    position: relative;
 margin-right: 140px;
    float: left;
    display: block;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .site-header .navbar ul li {
    margin: 0 0.9rem;
  }
  
  .site-header .navbar ul li a {
    color: #333;
    display: block;
    font-family: open sans, Sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center; 
    padding: 4px 0;
    margin: 0 auto; 
   max-width: 750px; 
    overflow: hidden;
    font-weight: 400;

    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    line-height: 20px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Add initial border */
    transition: color 0.3s ease, border-bottom-color 0.3s eas;
  }

  
  .Free-trail-button{
    font-size: 12px;
    line-height: 1.2;
    font-family: open sans;
    font-weight: 600;
    margin-top: 10px;
    padding: 16px 18px;
    border: 1px hidden #f9c03d;
    background: #f9c03d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .Free-trail-button:hover{
    background-color: #d39606;
  }
  .site-header .fa-bars {
    color: #000000;
    cursor: pointer;
    font-size: 3rem;
    display: none;
  }
  /* Media Query for Small Screens */
  @media screen and (max-width: 1200px) {
  
    .top-header-container {
  
      padding-right: 100px;
      padding-left: 100px;
    
  
    }
  }
  @media screen and (max-width: 768px) {
    .site-header {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 0%;
    }
    .top-header-container {
      padding: 0%;
    }
    .top-header {
      width: 100%;
      justify-content: space-between;
    }
  
    .contact-info {
      display: none; 
    }
  
    .top-header .contact-info {
      display: block;
      margin-top: 1rem;
      margin-right: 1rem; 
    }
  
    .site-header .fa-bars {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      cursor: pointer;
      color: #184cb5;
      border: 1px solid #184cb5 ;
      padding: 10px;
      line-height: 50px;
      font-size: 25px;
      position: relative;
      width: 44px;
      height: 35px;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .site-header .fa-bars:hover{
  background-color: #184cb5;
      color: white;
    }
  /* Navbar container */
  .site-header .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 0.875em;
    z-index: 99;
  }
  
  /* Navbar container when open */
  .site-header .navbar.open {
    display: flex;
  }
  
  .site-header .navbar ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  /* Navbar list items */
  .site-header .navbar ul li {
    margin: 10px 0;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid #f0f0f0; /* Add constant border between items */
  }
  
  /* Navbar links */
  .site-header .navbar ul li a {
    color: #666;
    text-decoration: none;
    margin: 2px 5px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 8px 0;
    font-size: 14px;;
    line-height: 1; ;
  }
  
  /* Navbar link hover */
  .site-header .navbar ul li a:hover {
    color: #007bff;
    border: none;
  }
  
    .top-header .contact-info {
      display: none;
    }
  
    .social-and-quote {
      display: flex;
      justify-content: flex-start; 
      align-items: center
    }
  
    .social-links {
      margin-right: auto;
      margin-left: auto;;
    }
  
    .top-header {
      margin-top: 0;
    }
  }
  
  
  @media screen and (max-width: 992px) {
    .top-header {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      padding: 1rem;
      padding-top: 0%;
    }
    .top-header-container {
      padding: 0%;
    }
  
    .social-and-quote {
      justify-content: center; 
      margin-top: 0;
    }
  
    .top-header .contact-info {
      display: none;
    }
  
    .navigation-links {
      float: left;
      margin-right: 0; ;
    }
  
  }