/* Header.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-menu li {
    margin-left: 1.5rem;
  }
  
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-menu li a:hover {
    color: #ccc;
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-menu {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: #333;
      padding: 1rem;
      display: none;
    }
  
    .nav-menu.active {
      display: flex;
    }
  
    .nav-menu li {
      margin: 1rem 0;
    }
  }