/* carousel.css */

.custom-carousel-wrapper {
    position: relative;
  }
  
  .content {
    height: 50vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .slide-description {

    font-size: 32px; 
    color: rgb(255, 255, 255);
    max-width: 80%; 
    margin: 0 auto; 
    margin-top: -25px;
    
  }
  
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .slide-description {
      font-size: 20px; 
      margin-top: -12px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .slide-description {
      font-size: 18px; 
    }
  }
  

  .sunshine-icon {
    width: 50px; 
    height: auto; 
    margin-left: 140px; 


 
    /* Media query for smaller screens */
    @media screen and (max-width: 768px) {
      margin-left: 70px; 
    }
  
    /* Media query for even smaller screens */
    @media screen and (max-width: 576px) {
      margin-left: 32px; 
      width: 30px; 
    }
  }
  /* carousel.css */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.custom-prev-arrow {
  left: 1rem;
}

.custom-next-arrow {
  right: 1rem;
}

.custom-arrow:hover {
  color: #ccc;
}


