.software-process-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.software-process-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0%;
  border-top: 1px solid rgb(201, 197, 197);
}


.boxp{
  width: 180px;
  text-align: left;
}

.box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box-number{
  text-align: left;
  color: #34b051;
}

.box h4 {
  font-size: 20px;
  margin-top: 10px;
}

.box p {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 16px;
  line-height: 1.7em;
}
