/* Testimonials.css */

.testimonials-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  .testimonials-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .testimonials-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
  }
  
  /* Styles for the carousel */
  .carousel-container {
    margin-top: 20px;
  }
  
  .slick-slide {
    outline: none;
  }
  
  .slide {
    padding: 0 20px;
  }
  
  .testimonial {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .testimonial-role {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .testimonial-quote {
    font-style: italic;
    font-size: 16px;
    color: #333;
  }

  .slick-arrow {
    background-color: rgba(167, 59, 59, 0.5); /* Adjust the background color */
    color: white; /* Adjust the color */
    border-radius: 50%; /* Makes the arrows circular */
    font-size: 18px; /* Adjust the font size */
    width: 30px; /* Adjust the width */
    height: 30px; /* Adjust the height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .slick-prev {
    left: 10px; /* Adjust the position of the left arrow */
  }
  
  .slick-next {
    right: 10px; /* Adjust the position of the right arrow */
  }