/* Testimonials.css */

.testimonials-container {
    max-width: 1200px;

    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  .testimonials-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .testimonials-description {
    font-size: 16px;
    margin-bottom: 40px;
  
  }

  .testimonial-quote{
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-container {
    margin-top: 20px;
  }
  
  .slick-slide {
    outline: none;
  }
  
  .slide {
    padding: 0 20px;

  }
  
  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    height: 60vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .testimonial-image{
    margin-left: auto;
    margin-right: auto;
  }
  
  .testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; /* Add margin bottom */
    margin-right: 10px; /* Add margin right to create gap */
  }
  .name-role{
    display: flex;
  align-items: center; 
  justify-content: center; 

  margin-bottom: 10px;

  }
  .testimonial-role {
    font-size: 14px;
    color: #666;

  }

  .arrow-icon {
    color: #630b0b; /* Change the color as per your preference */
  }

  .slick-prev,
.slick-next {
  font-size: 34px; /* Adjust the size of the arrows */
  color: #000; /* Change the color of the arrows */
}

.arrow-icon {
  display: inline-block; /* Ensure the arrow icons are displayed inline */
}