body p{
    
        font-family: open sans;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.6;
        color: #757575;
        font-style: normal;
    
}


h2 {
    font-size: 30px;
    line-height: 1.4;
    font-family: open sans;
    font-weight: 700;
    color: #000;
    font-style: normal;
}
h1 {
    font-size: 40px;
    line-height: 1.4;
    font-family: open sans;
    font-weight: 700;
    color: #000;
    font-style: normal;
}

h5 {
    font-size: 16px;
    line-height: 1.4;
    font-family: open sans;
    font-weight: 700;
    color: #000;
    font-style: normal;
}


.learn-more-button {
    font-size: 12px;
    line-height: 1.2;
    font-family: open sans;
    font-weight: 600;
    padding: 16px 18px;
    border: 1px hidden #f9c03d;
    background: #f9c03d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .learn-more-button:hover {
    background-color: #d49c1a;;
  }
  