.main-container {
    display: flex;
    justify-content: space-between; /* Ensure containers are evenly spaced */
    align-items: center;
  }
  
  .left-container,
  .right-container {
    flex: 1;
  }
  
  .left-container img,
  .right-container img {
    max-width: 180px;
    height: auto;

  }

  .left-container,
  .right-container {
    position: relative;
  }
  .left-container::before {
    content: "";
    position: absolute;
    margin-top: 200px;
    width: 150px;
    height: 170px;
    background-image: url('/Users/asad/Desktop/Karma/frontend/src/assets/background.png'); /* Specify the path to your background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    z-index: -1; /* Move the background behind the image */
  }
  .left-container img{
    position: relative; /* Ensure the image is positioned relative to its container */
    z-index: 1; /* Bring the image to the front */
    margin-top: 200px;
    margin-left: 70px;
  
  }
  .right-container img {
    margin-bottom: 200px;
    margin-right: 70px;
  }
  .right-container::before {
    content: "";
    position: absolute;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-image: url('/Users/asad/Desktop/Karma/frontend/src/assets/background.png'); /* Specify the path to your background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    z-index: -1; /* Move the background behind the image */
  }
  

  .middle-container {
    flex: 2;
    max-width: 700px;
    text-align: center;
  }
  
  .middle-container .heading {
    text-align: center;
    color: #000;
  }
  
  .middle-container .buttons {
    margin: 17px 0 0;
    padding: 0 20px 0 0;
    display: flex;
    justify-content: center; 
  }
  
  .button-2 {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    font-family: open sans;
    font-weight: 600;
    padding: 14px 24px;
    border: 1px solid #a5a5a5;
    background: #fff;
    color: #141414;
    border-radius: 3px;
    margin: 8px 13px;
  }

  .try-for-free-button{
    font-size: 12px;
    line-height: 1.2;
    font-family: open sans;
    font-weight: 600;
    padding: 16px 18px;
    border: 1px hidden #f9c03d;
    background: #f9c03d;
    color: #fff;
    border-radius: 5px;
    margin: 8px 13px;
  }
  
  .right-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end; /* Align the container to the right side */
  }
  